<!DOCTYPE html>
<html>
<meta charset='utf-8'>
<head>
   
</head>
<body>
  
    <canvas id="myCanvas" style="border: 1px solid black"></canvas>



    <%= javascript_tag do %>
        var myCanvas = document.getElementById("myCanvas");
        myCanvas.width = 300;
        myCanvas.height = 300;

        var descontoHorizontal = 60;
        var descontroVertical = 60;

        var widthGrafico = myCanvas.width - descontoHorizontal; // tirando 30 pixels para cada lado
        var heightGrafico = myCanvas.height - descontroVertical // tirando 30 pixel para cada lado

        var inicioGraficoX = descontoHorizontal / 2;
        var inicioGraficoY = descontroVertical / 2;
         
        var ctx = myCanvas.getContext("2d");

        var valoresColunaDesformatado = "<%= @valoresColuna.join ',' %>";
        var arrayCoresDesformatado = "<%= @arrayCores.join ',' %>";

        var valoresColunas = formata(valoresColunaDesformatado);
        var arrayCores = formata(arrayCoresDesformatado);

        console.log(valoresColunas);
        console.log(arrayCores);

        desenhaGraficoBarras(valoresColunas, arrayCores);


        function formata(arrayCoresDesformatado){
            var arrayCores = arrayCoresDesformatado.split(",");
            return arrayCores;
        }
    <% end %>


    
    <script>


    </script>
    
</body>
</html>

