<!DOCTYPE html>
<html>
<meta charset='utf-8'>
<head>
   
</head>
<body>
  
    <canvas id="myCanvas" style="border: 1px solid black"></canvas>
    <br>
    <canvas id="myCanvas1" style="border: 1px solid black"></canvas>



    <%= javascript_tag do %>
        var myCanvas = document.getElementById("myCanvas");
        var myCanvas1 = document.getElementById("myCanvas1");

        myCanvas.width = 900;
        myCanvas.height = 300;
        myCanvas1.width = 900;
        myCanvas1.height = 300;

        var descontoHorizontal = 140;
        var descontroVertical = 120;

        var widthGrafico = myCanvas.width - descontoHorizontal; // metade desconto horizontal pra esquerda
        var heightGrafico = myCanvas.height - descontroVertical // metade desconto vertical pra cima

        var inicioGraficoX = descontoHorizontal / 2 ;
        var inicioGraficoY = descontroVertical / 2 ;
         
        var context1 = myCanvas.getContext("2d");
        var context2 = myCanvas1.getContext("2d");

        var valoresColunaDesformatado = "<%= @valoresColuna.join ',' %>";
        var arrayCoresDesformatado = "<%= @arrayCores.join ',' %>";

        var valoresColunas = formata(valoresColunaDesformatado);
        var arrayCores = formata(arrayCoresDesformatado);

        var espacado1 = true;

        desenhaGraficoBarras(context1, valoresColunas, arrayCores, espacado1);

        var espacado2 = false;

        desenhaGraficoBarras(context2, valoresColunas, arrayCores, espacado2);
        
    <% end %>


    
    <script>


    </script>
    
</body>
</html>

